@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");
body {
  background-image: url("../Images/backgroundimages1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #001b30;
  height: 100vh;

  color: white;
  padding: 40px;
  /*font-family: 'Josefin Sans', cursive;*/
  font-family: "Unna", serif;
  text-align: center;
}

.inputfeild {
  background: transparent;
  border-radius: 5px;
  margin: 8px 0;
  padding: 8px;
  height: 50px;
  width: 30%;
  font-size: 20px;
  padding: 5px;
  border: 2px solid white;
  color: white;
}
.inputfeild::after {
  border-color: rgb(50, 198, 0);
}
.content {
  border: 2px solid black;
  color: white;
  background: transparent;
  width: 100%;
  height: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}
.Button {
  color: black;
  font-size: 20px;
  background: transparent;
  height: 63px;
  color: white;
  border-color: white;
  border-radius: 5px;
}
.Button:focus {
  background-color: rgb(50, 198, 0);
}

.Button-content {
  margin-left: 50px;
  size: 50px;
}
.FTrash {
  background-color: white;
  font-size: 30px;
}
.TodoRemove {
  background-image: linear-gradient(white, Aquamarine);
  padding: 10px;
  border: 5px;
  border-radius: 5px;
  font-size: 15px;
}
